[init]
  defaultBranch = main
[user]
  name = "Luke Petherbridge"
  email = ""
[commit]
  gpgsign = false
[tag]
  gpgsign = false
[include]
  path = ~/.gitconfig.local
[credential]
  helper = store
[gpg]
  program = /usr/bin/gpg
[fetch]
  prune = true
[merge]
  tool = fugitive
[diff]
  tool = nvimdiff
[core]
  excludesfile = ~/.gitignore
  editor = nvim -i NONE
  pager = less -F -X -x1,5
  autocrlf = input
  fsmonitor = false
[rerere]
  enabled = true
[pager]
  log = less -+F -+X -x1,5
  diff = less -+F -+X -x1,5
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[mergetool "fugitive"]
  cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
