[submodule "vim-runtime/bundle/surround"]
	path = vim-runtime/bundle/surround
	url = git://github.com/tpope/vim-surround
[submodule "vim-runtime/bundle/fugitive"]
	path = vim-runtime/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-runtime/bundle/tcomment"]
	path = vim-runtime/bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim
[submodule "vim-runtime/bundle/zencoding"]
	path = vim-runtime/bundle/zencoding
	url = git://github.com/mattn/emmet-vim
[submodule "vim-runtime/bundle/snipmate"]
	path = vim-runtime/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim
[submodule "bin/dotfiles"]
	path = bin/dotfiles
	url = git://github.com/jbernard/dotfiles.git
[submodule "vim-runtime/bundle/vim-ruby"]
	path = vim-runtime/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vim-runtime/bundle/vim-rails"]
	path = vim-runtime/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim-runtime/bundle/vim-cucumber"]
	path = vim-runtime/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "vim-runtime/bundle/delimitMate"]
	path = vim-runtime/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim-runtime/bundle/supertab"]
	path = vim-runtime/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim-runtime/bundle/ctrlp"]
	path = vim-runtime/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim-runtime/bundle/command-t"]
	path = vim-runtime/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim-runtime/bundle/yankring"]
	path = vim-runtime/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "vim-runtime/bundle/syntastic"]
	path = vim-runtime/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim-runtime/bundle/nerdtree"]
	path = vim-runtime/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-runtime/bundle/tagbar"]
	path = vim-runtime/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
