snippet create "CREATE a table" b
CREATE TABLE ${1:table} (
  id SERIAL PRIMARY KEY,
  $0
)
endsnippet

snippet drop "DROP a table" b
DROP TABLE ${1:table}
endsnippet

snippet fk "FOREIGN KEY" b
${1:column} INTEGER NOT NULL REFERENCES ${2:table}(id),
endsnippet

