# Binaries
*.exe*
*.o
*.so
*.pyc
build
dist
target
node_modules
virtualenv
venv
*.spv

# Temporary files
*.cache
*.tmp
*.swn
*.swo
*.swp
*.local
*~
~*
*.bak
*.orig
.todo.md
Session.vim
.DS_Store*
*.db
Icon\?
._*
Desktop.ini
.Spotlight-V100
.Trashes

# Logs
*.log
logs

# Project
tags
ctags
.project
.settings
.nu-env
.jrc
.env.local
.lspconfig.lua

# Misc
*.patch
!patches/*
